footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Bulletin Board
        p.grey-text.text-lighten-4 Leave your comment on this awwweeeesome board.
      .col.l4.offset-l2.s12
        h5.white-text Important stuff
        ul
          li
            a.grey-text.text-lighten-3(href='index.pug') Write a message
          li
            a.grey-text.text-lighten-3(href='messages.pug') Read them messages
  .footer-copyright
    .container
      | © 2016 Much Copyright